*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
*.bundle
*.so
*.o
*.a
mkmf.log
*.xlsx
*.xlsx#
.DS_Store
test/dummy_app/**/*.sqlite3.db
test/dummy_app/**/*.sqlite3
test/dummy_app/**/*.xlsx
test/dummy_app/**/*.log
tmp/
